{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mausam Sarthi</title>
    <link rel="icon" href="http://openweathermap.org/img/w/{{ data.icon_code }}.png" type="img/png" width="50px" height="50px" > 
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
<style>
    body{
        background-image: url("{% static '/images/whiteBg.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat; 
        color: wheat;

        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        margin: 5px;
    }
    .nav{
        
        height: 80px;

    }

  th{
    text-align: left;
  }
  #myInput{
    padding: 10px;
    border-radius: 20px;

  }
  input{
    
  }

</style>

</head>
<body>
    <!-- Jay Siya Ram... -->
<div class="nav">
<h1>Mausam Sarthi <i class="fas fa-cloud-sun-rain fa-2xl"></i></h1>
</div>

<div class="form">
<form action="" method="POST">
    {% csrf_token %}
<div>
    <h2> Janiye Aapke Sehar ka Mausam <i class="fa fa-cloud-moon"></i></h2>
    <input type="text" id="myInput" name="city" placeholder="e.g 'Mumbai','London'" required> 
    <button type="submit"><i class="fa fa-search"></i></button>
    
    

</div>
{% if data.country_code %}
<div>
    <i

    <h2>{{ data.city | capfirst}} {{data.temperature | add:-273.15}}°C <img src="http://openweathermap.org/img/w/{{ data.icon_code }}.png" alt="Weather Icon"></h2>
    <table>
    <tr>
        <th>Country Code</th> 
         <td>: {{ data.country_code }} </td>
        <th>Co-ordinates</th>
        <td>: [ {{data.coord.lon}} lon /{{data.coord.lat}} lat ]</td>
    </tr>
    <tr>
        <th>Weather</th>
        <td>: {{ data.weather_main }} - {{ data.weather_description }}</td>
        <th>Sunrise</th>
        <td>: {{data.sunrise | time:"TIME_FORMAT" }}</td>
    </tr>
    <tr>
        <th>Temperature</th> 
        <td>: {{ data.temperature }}°K</td>
        <th>Sunset</th>
        <td>: {{data.sunset | time:"TIME_FORMAT"  }}</td>
    </tr>
    <tr>
        <th>Feels Like</th>
        <td>: {{ data.feels_like }}°K</td>
    </tr>
    <tr>
        <th>Humidity</th> 
        <td>: {{ data.humidity }}%</td>   
    </tr>
    <tr>
        <th>Pressure</th>
        <td>: {{data.pressure}} Pa</td> 
    </tr>
    <tr>
        <th>Wind Speed</th>
        <td>: {{ data.wind_speed }} m/s</td>
    </tr>
    </table>
    

</div>
{% elif error %}
<div>
    <p>{{error}}</p>
</div>  

{% endif %}
</form>
</div>

</body>
</html>

